{% extends 'home.html' %}

{% block title %}Login no Site{% endblock %}

{% block content %}
<div class='row'>
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Logar no Site</h4>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    {{ form|crispy }}
                    <div class="login-button">
                        <button type="submit" class="btn btn_primary btn-block">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}